.container {
    .shop__sidebar__categories {
        .li_cte {
            list-style: none;

        }

        .cte-links {
            text-decoration: none;
            color: black;
            list-style: none;
        }

        .cte-links:hover {

            color: black;
        }
    }
}

.content {
    .container-fluid {
        .card {
            overflow-x: auto;

            .table-responsive-sm {
                overflow-x: auto;
            }
        }
    }
}