.container {
    .shop__sidebar__categories {
        .li_cte {
            list-style: none;

        }

        .cte-links {
            text-decoration: none;
            color: black;
            list-style: none;
        }

        .cte-links:hover {

            color: black;
        }
    }
}

.content {
    .container-fluid {
        .card {
            overflow-x: auto;

            .table-responsive-sm {
                min-width: 1080px;
                @media only screen and (max-width: 480px) {
                    width: 1080px;
                }
                .th-120{
                    width: 130px;
                }
            }
        }
    }
}